<%= bootstrap_form_for :password, url: passwords_path do |form| %>
  <% if flash[:notice].present? %>
  <div class="alert alert-info">
    <span class="glyphicon glyphicon-info-sign"></span>
    <%= flash[:notice] %>
  </div>
  <% end %>

  <% if flash[:alert].present? %>
  <div class="alert alert-danger">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    <%= flash[:alert] %>
  </div>
  <% end %>

  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
            alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form>
            <div class="d-flex align-items-center mb-3 pb-1">
              <span class="h1 fw-bold mb-0">Kennwort zurücksetzen</span>
            </div>
            <div class="form-outline mb-4">
              <%= form.text_field :email, type: 'email', placeholder: "E-Mail eingeben", label: "E-Mail", :class => 'form-control form-control-lg' %>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
                <%= form.submit "Bestätigen" %>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    </div>
  </section>
<% end %>

